@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/fonts.css */

/* Import Google Fonts from @fontsource packages */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");


.countries-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countries-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countries-slider .swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.companies-slider .swiper {
  width: 100%;
  height: 100px;
  margin: 20px auto;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}

.gradient {
  background: rgb(145, 144, 140);
  background: linear-gradient(
    360deg,
    transparent 85%,
    rgba(246, 245, 242, 1) 100%
  );
}

/* antd change css */
.ant-rate-star:not(.ant-rate-star-zero)
  .ant-rate-star-full
  > .ant-rate-star-first,
.ant-rate-star:not(.ant-rate-star-zero)
  .ant-rate-star-full
  > .ant-rate-star-second {
  color: black; 
}

.ant-rate-star-zero .ant-rate-star-first,
.ant-rate-star-zero .ant-rate-star-second {
  color: rgba(0, 0, 0, 0.25); 
}

.custom-tabs-style .ant-tabs-tab {
  color: black; /* Text color for all tabs */
}

.custom-tabs-style .ant-tabs-tab.ant-tabs-tab-active {
  background-color: #fe720f; /* Background color for active tab */
  color: #000;
}

.custom-tabs-style .ant-tabs-tab:hover {
  background-color: #fe720f; /* Optional: Background color for hover state */
  color: #000;
}

.slide-with-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(246, 244, 242);
  background: linear-gradient(
    180deg,
    rgba(246, 244, 242, 0) 58%,
    rgba(226, 175, 35, 1) 64%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; /* This ensures that the pseudo-element does not interfere with mouse events */
}

.slide-with-gradient:hover::after {
  opacity: 0.5;
}

.cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will cover the area, cropping the image if necessary */
}

.team img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient-overlay {
  position: absolute;
  height: 100%;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(63, 62, 62, 0) 0%,
    rgba(26, 26, 26, 0.7) 0%
  );
  z-index: 0; /* Below the content */
  transition: background 0.3s; /* Smooth transition for background change */
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-ribbon .ant-ribbon-text {
  color: black;
}

/* about ceo */
.about-us {
  width: 100%;
}

.pic {
  height:100%;
}

.about {
  padding:10px 0;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.text {
  width: 540px;
}

.text h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text p {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 3px;
}

.data {
  margin-top: 30px;
}

.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}

.hire:hover {
  background: #000;
  border: 1px solid #4070f4;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
  #fe720f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.custom-list-style ul {
  list-style-type: disc; /* or any other style you prefer */
  margin-left: 20px; /* Adjust as needed */
}

.custom-list-style li {
  margin-bottom: 5px; /* Adjust as needed */
}

.modelbtn .ant-btn-primary{
  background-color: #4070f4 !important;
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: white !important;;
}